div.hidden {
  display: none;
}



div.window-content {
    /*margin: 10px 10px 10px 10px ;*/
}
div.pane {
    padding: 10px 10px 10px 10px ;
}
div#current_world {
    display: none;
}
fieldset {
    border: none;
}


.display-value {
  display: inline-block;
  /*width: 100%;*/
  min-height: 25px;
  padding: 5px 5px;
  font-size: 13px;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  text-align: center;
}


#display-trainer-effect {
    width: 25%;
}

#trainer-effect {
    width: 70%;
}

input[type=range] {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #fff;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 18px;
  width: 24px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
span.accesskey {
    text-decoration: underline;
}

.section-label {
    font-weight: bold;
}
div.section+div.section {
    padding-top: 20px;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-bottom-less {
  margin-bottom: 5px;
}


input[type="color"] {
  margin: 4px 0 0;
  line-height: normal;
}

.color {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.color label {
  padding-left: 55px;
  margin-bottom: 0;
  font-weight: normal;
}

.color input[type="color"],
.color-inline input[type="color"] {
  position: absolute;
  margin-left: -55px;
  margin-top: 0px;
}

#server-port {
    display: inline-block;
    width: 50px;
}
#server-port, #run-server-label {
    vertical-align: middle;
}

#button-edit-ghosts {
  /*float: right;*/
}
#button-edit-ghosts:disabled, #button-fullscreen:disabled {
  color: #828282;
}

