div#chat {
	margin:10px 10px 10px 10px;
	padding:0 0 0 0;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 10pt;
	color: white;
}

div.chatmessage {
	margin-bottom: 3px;
}
div.timestamp {	
	display: inline-block;
	width: 50pt;
	vertical-align: top;
	color: #aaaaaa;
}
div.user {
	display: inline-block;
	width: 50pt;
	vertical-align: top;
	color: #aaaaaa;
}
div.message {
	display: inline-block;
	width: calc(100% - 105pt);
	vertical-align: top;
	color: white;
}


body, html {width:100vw; height:100vh; overflow:hidden; margin:0; }




#counters {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}

.error-counter {
    display: inline-block;
    width: 50px;
}

#error-nc {
	color: blue;
}

#error-critical {
	color: red;
}

#network {
	display: none;
}